/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Century Gothic;
}

p {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: #009688;
  transition: transform 1s; /* Animation */
}

.link h3:hover {
  color: #02756a;
  transform: scale(1.05);
  transition: transform 1s; /* Animation */
}

section {
  margin: auto;
  width: 90%;
  padding: 2rem;
  text-align: left;
}

/* header */
header {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.texted {
  width: 100%;
  display: flex;
}

.inner {
  width: 50%;
  border-left: 1px solid #009688;
  padding-left: 10px;
}

/* About */
#about h2 {
  font-size: 40px;
  margin-bottom: -10px;
  color: #009688;
}

#about p {
  color: #009688;
  line-height: 1.5em;
  border-left: 1px solid #009688;
  padding-left: 10px;
}

.styles {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.holder {
  display: flex;
  padding-left: 150px;
}

.parallelogramer {
  width: 100px;
  height: 50px;
  transform: skew(20deg);
  background: #009688;
  border: 1px solid #fff;
}

.hold {
  display: flex;
}

.parallelogram {
  width: 100px;
  height: 50px;
  transform: skew(20deg);
  background: #009688;
  border: 1px solid #fff;
}

.parallelogram2 {
  width: 100px;
  height: 50px;
  transform: skew(340deg);
  background: #009688;
  border: 1px solid #fff;
}

/* projects */
.project {
  display: flex;
  gap: 100px; /* Adjust the gap between the containers as needed */
  padding: 1rem;
}

.project img {
  max-width: 100%;
  height: auto;
}

.landscape-image {
  width: 100%;
  height: 100%;
}

.portrait-thumbnail {
  position: absolute;
  bottom: 70px; /* Adjust the positioning of the thumbnail */
  right: 10px; /* Adjust the positioning of the thumbnail */
  width: 100px; /* Adjust the width of the thumbnail */
  height: 150px; /* Adjust the height of the thumbnail */
}

.portfolio-container {
  width: 50%; /* Each container takes 50% width to be side by side */
  position: relative;
  overflow: hidden;
}

.description {
  padding: 10px;
  background-color: #f0f0f0; /* Optional: Add a background color to the description area */
  color: #009688;
  width: 70%;
}

/* Footer */
.footer {
  background-color: #009688;
  width: 100%;
  color: white;
  margin: auto;
  padding-top: 5vh;
  text-align: center;
}

.questTag {
  color: #ccd6f6;
  font-size: 60px;
}

.contact-container {
  width: 100%;
  margin: 5vh 0;
}

.contact-container .note {
  width: 60%;
  margin: auto;
}

.social {
  width: 50%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}

.social li {
  padding: 30px 10px;
  background-color: transparent;
}

.social li a {
  color: white;
}

.social li a:hover {
  color: #60ce5a;
}

.date {
  width: 100%;
}

.date p {
  padding: 5vh;
}

@media only screen and (max-width: 600px) {
  .texted {
    width: 100%;
    display: flex;
  }

  .holder {
    display: none;
  }
  .holdings {
    display: none;
  }

  .inner {
    width: 100%;
  }

  .portfolio-container {
    width: 100%; /* Each container takes 50% width to be side by side */
    position: relative;
    /* overflow: hidden; */
  }

  #projects {
    width: 100%;
    padding: 0;
  }

  .project {
    padding: 0rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  hr {
    margin-bottom: 50px;
  }
}
