
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.header{
    width: 100%;
    height: 12vh;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    display: inline-flex;
}        

.nav{
    width: 60%;
    height: 10vh;
    padding-top: 5vh;
    text-align: center;
    list-style-type: none;
    margin-left: 10vw;
}

.header .nav a{
    list-style-type: none;
    text-decoration: none;
    font: normal small-caps 1.5vw/0 Arial;
    color: white;
}

.nav .logo-name{
    width: 4.5vw;
    height: auto;
    margin-right: 5vh;
}

.logo-name a{
    transition: 1s ease;
}

.logo-name a:hover{
    color: rgb(60, 60, 135);
    transition: 1s ease;
}

.social{
    width: 20%;
    padding-top: 5vh;
}

.social li{
    display: inline;
    text-decoration: none;
}

#social {
    width: 2vw;
    height: auto;
    margin-right: 3vw;
    transition: .5s;
}

#social:hover{
    opacity: .5;
    transition: 1s ease-in-out;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-gap: 1rem;
    text-align: center;
    padding: 10px;
}

.grid-container a{
    justify-content: center;
    border: 1px solid rgb(243, 168, 168);
    border-radius: 5px;
    padding: 20px;
    transition: .5s;
}

a p{
    color: black;
    font: normal small-caps bold 12px/2 cursive;
    color: white;
}

a{
    text-decoration: none;
}

.icon{
    width: 15vw;
    height: 25vh;
}

.grid-container a:hover{
    transform: scale(1.05);
}

@media screen and (min-width: 1444px) {
    /* start of large tablet styles */
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 1rem;
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        text-align: center;
        padding: 10px;
    }

    .icon{
        width: 10vw;
        height: 10vh;
    }
    
    
}
    
@media screen and (max-width: 900px) {
    /* start of medium tablet styles */
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        text-align: center;
        padding: 10px;
    }

    .icon{
        width: 15vw;
        height: 15vh;
    }
    
}
    
@media screen and (max-width: 600px) {
    /* start of phone styles */
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 1rem;
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        text-align: center;
        padding: 10px;
    }

    .icon{
        width: 25vw;
        height: 15vh;
    }
    
}